:root {
    --cor-preto: #000000;
    --cor-branco: #ffffff;
    --cor-cinza: #799ba5;
    --cor-azul: #00b4d8;
    --cor-azul-escuro: #03045e;

    --fonte: 'Times New Roman', Times, serif;;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 95vh;
    font-family: var(--fonte);
    background-color: var(--cor-azul);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.principal{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.principal img{
    width: 100px;
    text-align: center;
}

.principal h1{
    font-size: 3rem;
}

.principal form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.principal input, .principal button{
    padding: .5rem;
    border-radius: 5px;
    border: none;
}

.principal button:hover, .principal input[type="reset"]:hover{
    background-color: var(--cor-cinza);
    color: var(--cor-branco);
    cursor: pointer;
}

.esconder {
    display: none;
}

.aparecer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-family: Arial;
    text-align: justify;
    background-color: var(--cor-branco);
    padding: .5rem;
    border-radius: 10px;
}

.principal div span{
    font-weight: 600;
}